
.main-cont-vehi {
    display: flex;
    gap: 40px;
    
}

.sub-first-cont-vehi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 10px 10px 10px 10px; */
    
    width: 20%;
    
}

.sub-inner-first-cont-vehi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid lightgray;
    width: 100%;
    max-height: 450px;
    border-radius: 10px;
    line-height: 2px;
    margin-bottom: 15px;
}

.sub-main-second-cont-vehi {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10px;
    
}

.sub-second-cont-vehi {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid lightgray;
    width: 100%; 
    height: 325px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.heading-service-vehi {
    font-weight: bold;
}

.hr-veh {
    color: lightgrey;
    font-size: 5px;
    width: 100%;
}

.btn-change-route-veh {
    background-color: rgb(238, 166, 9);
    border: 0px solid;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

/* Second-half */

.sec-first-sub-cont {
    width: 25%;
    border: 0px solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sub-initial-second-vehi {
    width:100%;
    height: 80%;
    display: flex;
    gap: 10px;
}

.sec-sec-sub-cont-vehi {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 0px solid;
}

.sec-sec-sub-sub-cont-vehi {
    display: flex;
    height: 25%;
}

.image-car {
    width: 100%
}

.md-group-vehi {
    align-self: center;
    font-size: 25px;
    margin-right: 25px;
}

.sub-passengers-vehi {
    line-height: 10px;
    padding-top: 10px;
}

.tick-vehi {
    color: maroon;
}

.sec-sub-including-prices-vehi{
    height: 90%;

}

.sec-last-sub-part-price {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10px;
}

.btn-booknow-vehi {
    background-color: green;
    color: #fff;
    font-size: 15px;
    border: 0px solid;
    border-radius: 5px;
    padding: 15px 5px 15px 5px;
}

.mail-icons-sub-cont {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.md-mail-vehi {
    font-size: 20px;
}

.sec-sub-footer {
    border: 1px soild black;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
}

.opp-arrow-vehi {
    color: rgb(238, 166, 9);
    font-size: 20px;
    
}

.heading-brand {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 10px;
    color: green;
}

.heading-brand-new{
    font-size: 18px;
    padding: 5px;
    margin-bottom: 15px;
    color: green
} 

.heading-brand-model {
    color: black !important
}