.div-container {
  background-color: #ffffff;
  min-height: 100vh;
}

.sub-div-cont-new {
  background-image: url("https://res.cloudinary.com/dgwskqa59/image/upload/v1688410324/samples/landscapes/beach-boat.jpg");
}